%li.release_plans
  %h4= link_to release_plan.name, project_release_plan_path(@project, release_plan)
  %div= simple_format(release_plan.description)
  %div
    %strong Starts:
    = release_plan.starts
  %div
    %strong Ends:
    = release_plan.ends
  %div
    %strong Default Iteration Length:
    = release_plan.length
  =render @priorities
